<h1 class="font-bold text-3xl py-5">All books</h1>
<button (click)="goToAddPage()" class="text-black ml-2">Add</button>

<table class="w-full border-collapse table-auto">
  <thead>
    <tr class="bg-violet-100 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">#</th>
      <th class="py-3 px-6 text-left">Title</th>
      <th class="py-3 px-6 text-left">Description</th>
      <th class="py-3 px-6 text-left">Start Date</th>
      <th class="py-3 px-6 text-left">End Date</th>
      <th class="py-3 px-6 text-left">Country</th>
      <th class="py-3 px-6 text-left">Zone</th>
      <th class="py-3 px-6 text-left">Image</th>
    </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    <tr
      *ngFor="let destination of destinations; index as i"
      class="border-b border-violet-200 hover:bg-violet-200"
    >
      <td class="py-3 px-6 text-left">
        <a>{{ i + 1 }}</a>
      </td>
      <td class="py-3 px-6 text-left">{{ destination.title }}</td>
      <td class="py-3 px-6 text-left">{{ destination.description }}</td>
      <td class="py-3 px-6 text-left">{{ destination.stayDate.startDate }}</td>
      <td class="py-3 px-6 text-left">{{ destination.stayDate.endDate }}</td>
      <td class="py-3 px-6 text-left">{{ destination.location.country }}</td>
      <td class="py-3 px-6 text-left">{{ destination.location.zone }}</td>
      <td class="py-3 px-6 text-left">{{ destination.image }}</td>
      <td class="py-3 px-6 text-left flex gap-6 items-center">
        <button (click)="deletePrivateDest(destination.id)">Delete</button>
        <button (click)="updatePrivateDest(destination.id)">Update</button>
        <button (click)="markFavourite(destination.id)">Favourite</button>
      </td>
    </tr>
  </tbody>
</table>
