.navbar .text {
    color: white;
    margin: 10px;
}

.navbar button {
    background-color: green;
}

.navbar button:hover{
    background-color: darkgreen;
}

.navbar{
    background-color: green;
}